/** ------------------------DEFAULT SETUP---------------------- */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: lightgray;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;

}

body{
    overflow-x: hidden
}


/** ------------------------HEADER SECTION---------------------- */

header {
    background-image: linear-gradient(45deg, rgba(2, 33, 64, 0.9), 55%, rgba(45, 95, 93, 0.2)), url("../img/background4.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    /*view heigh size no full website luon*/
    background-attachment: fixed;
    /** giu background o top */
}

.logo {
    width: 300px;
    float: left;
    margin-left: 70px;
    margin-top: -30px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 55px;
}

.main-nav li a {
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 0.1s;
    -webkit-transition: border-bottom 0.1s;
    -moz-transition: border-bottom 0.1s;
    -ms-transition: border-bottom 0.1s;
    -o-transition: border-bottom 0.1s;
    padding-bottom: 3px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid white;
}

.main-nav li {
    display: inline-block;
    margin-right: 20px;
}

.heading-main-box {
    position: absolute;
    top: 50%;
    left: 50%;
    /**canhgiua*/
    transform: translate(-45%, -55%);
    -webkit-transform: translate(-45%, -55%);
    -moz-transform: translate(-45%, -55%);
    -ms-transform: translate(-45%, -55%);
    -o-transform: translate(-45%, -55%);
    width: 1140px;
}


/** ------------------------REUSABLE COMPONENT---------------------- */

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-size: 300%;
    font-weight: 500;
    word-spacing: 5px;
    color: white;
    line-height: 120%;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    font-size: 180%;
    font-weight: 900;
    color: #e67e22
}

h2::after {
    content: " ";
    display: block;
    width: 180px;
    height: 2px;
    background: rgba(230, 126, 34, 0.4);
    text-align: center;
    margin: 0 auto;
    margin-top: 4px;
}

h3 {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #265077;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 15px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    margin: 0 5px;
    width: 190px;
    /**theađồlànóthuộctypeinlineelementnênnókochỉnhđượcwidthheight,***muốnchỉnhthìchangesanginline-block*/
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.btn:hover,
.btn:active {
    background-color: #d35400;
}

.p-long {
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    line-height: 120%;
}

section {
    padding-top: 30px;
}

.small-icon {
    color: #d35400;
    font-size: 90%;
    margin-right: 5px;
}

/** ------------------------STICKY SECTION---------------------- */

.sticky{
    background-color: rgba(2, 33, 64, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 80px;;
}

.sticky .logo{
    width: 250px;
    margin-top: -40px;
}

.sticky .main-nav{
    margin-top: 30px;
}

/** ------------------------MOBILE NAVIGATION ICON---------------------- */

.mobile-nav-icon{
    font-size: 200%;
    color: white;
    position: absolute;
    top: 50px;
    right: 50px;
}

/** ------------------------ABOUT SECTION---------------------- */

.about-picture {
    position: relative;
    margin-top: 50px;
    padding-bottom: 40px;
}

.about-picture img {
    width: 90%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid #265077;
    box-shadow: 0px 5px 15px 2px #265077;
    /*x,y,dộmờ,độphóngrộng,màu*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.picture-title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-65%, 100%);
    -webkit-transform: translate(-65%, 100%);
    -moz-transform: translate(-65%, 100%);
    -ms-transform: translate(-65%, 100%);
    -o-transform: translate(-65%, 100%);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title {
    transform: translate(-65%, -55%);
    -webkit-transform: translate(-65%, -55%);
    -moz-transform: translate(-65%, -55%);
    -ms-transform: translate(-65%, -55%);
    -o-transform: translate(-65%, -55%);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    opacity: 1;
}

.about-picture:hover img,
.about-picture:active img {
    /*Lammờảnh*/
    filter: blur(2px);
    -webkit-filter: brightness(80%) blur(2px);
}


/** ------------------------PRODUCT SECTION---------------------- */

.product-section {
    background-color: #f4f4f4;
    padding-bottom: 40px;
}

.product-section h2 {
    margin-bottom: 40px;
}

.product-box {
    background-color: #eeefff;
    box-shadow: 3px 5px 10px #e0e0e0;
    width: 80%;
    height: 300px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0px auto
}

.product-price {
    text-align: center;
    color: #265077;
    font-size: 190%;
    font-weight: 300;
}

.product-price span {
    font-size: 80%;
}

.product-box ul li {
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    color: rebeccapurple;
}

.product-box .btn {
    margin-top: 20px;
    margin-left: 20%;
}


/** ------------------------TESTIMONIALS SECTION---------------------- */

.testimonials-section {
    background-image: linear-gradient(45deg, rgba(2, 33, 64, 0.9), 55%, rgba(45, 95, 93, 0.2)), url("../img/background2.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 30px;
}

.testimonials-section h2 {
    margin-bottom: 20px;
}

blockquote {
    width: 95%;
    position: relative;
    font-style: italic;
    line-height: 130%;
    color: white;
}

blockquote::before {
    content: "\201C";
    display: block;
    font-size: 300%;
    position: absolute;
    top: -10px;
    left: -3px;
}

cite {
    margin-top: 10px;
    display: block;
}

cite img {
    height: 50px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    vertical-align: middle;
}


/** ------------------------SPONSORS SECTION---------------------- */

.sponsors-section {
    background-color: #ffffff;
}

.sponsors-section h2 {
    margin: 50px;
}

.sponsors-showcase {
    margin-left: 8%;
}

.sponsors-showcase li {
    list-style: none;
    float: left;
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
}

.logo-sponsor {
    width: 150px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.sponsors-showcase li .logo-sponsor:hover,
.sponsors-showcase li .logo-sponsor:active {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    cursor: pointer;
}

figcaption {
    font-size: 120%;
    font-weight: 700;
    color: #265077
}


/** ------------------------SPONSORS SECTION---------------------- */

footer {
    background-color: dimgray;
    text-align: center;
    margin: 0 auto;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

/** ------------------------CONTACT SECTION---------------------- */

.contract-section {
    background-image: linear-gradient(45deg, rgba(2, 33, 64, 0.9), 55%, rgba(45, 95, 93, 0.2)), url("../img/background4.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.information {
    list-style: none;
    color: white;
    line-height: 200%;
    word-spacing: 1px;
    margin-top: 70px;
    font-size: 90%;
}

.information .small-icon {
    color: #427db4;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    padding-right: 5px;
}

.social-icons {
    list-style: none;
    margin-top: 20px;
}

.social-icons li {
    display: inline-block;
    font-size: 200%;
    margin-left: 10px;
    color: white;
}

.social-icons li i {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.social-icons li i:hover,
.social-icons li i:active {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    color: orange
}

.information .small-icon:hover,
.information .small-icon:active {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

/** ------------------------CONTACT FORM SECTION---------------------- */

form{
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 40%;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
}

form .row{
    margin-bottom: 20px;
}

label{
    font-size: 100%;
    color: white;
    padding-top: 50px;
    margin-left: 20px;
}

input, textarea{
    outline: none;
    padding: 10px;
    background-color: rgba(48, 47, 47, 0.4);
    border: 1px solid white;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 100%;
}

textarea{
    resize: none;
    height: 100px;
}

input{
    height: 50px;
}

input[type=text],input[type=email], textarea{
    width: 80%;
}

input[type=text]:focus,input[type=email]:focus, textarea:focus{
    color:white;
    background-color: rgba(2, 33, 64, 0.9)
}

form .row:last-child{
    text-align: center ;
    margin-top: 10px;
}

input[type=submit]{
    font-weight: 700;
    font-size: 80%;
    border-radius: 10px;
    width: 50%;
    border: none
}
